%html
  %body
    %h1 Website Scraper
    %p You can pass three arguments to this URL.
    %ul
      %li URL: the URL you want to parse
      %li Selector: the CSS3 selector you want to use (optional)
      %li Callback: the JavaScript callback you want it wrapped in (optional)
    %p Usage: /?url=http://www.cnn.com&selector=a&callback=myCallback